.box {
    width: 600px;
    background-color: rgba(0, 0, 0, 0.833);
}
.header  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}
#idbox {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    color: whitesmoke;

}
#todoBox {
    background-color: rgba(151, 99, 99, 0.745);
}
#searchBar , #dateBar{
    border-color: blue;
}
#addButton {
    background-color: blue;
    color: whitesmoke;
}
button {
    transition: border-radius 2s;
}
button:hover {
    opacity: 0.3;
    cursor: pointer;
}
button:active {
    border-radius: 12px;
    border: none;
}